<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>お問い合わせ内容</h3>

    <div class="container">
      <ul>
        <li>ユーザー名 <%= @name %></li>
        <li>内容: <%= @content %></li>
      </ul>
    </div>
  </body>
</html>
