<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @note.title %></h3>

    <div class="container">
      <ul>
        <li>内容 <%= @note.content %></li>
      </ul>
    </div>
  </body>
</html>
 