<div class="footer">
  <div class="col-md-12">
    <div class="col-md-3">
      <span class="copyright">
        遊び感覚の学び合い
      </span>
    </div>
    <div class="col-md-6">
      <ul class="list-inline social-buttons">
        <li>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <p class="copyright">
        <%= link_to t('activerecord.attributes.contact.title'), contact_path %>
      </p>
    </div>
  </div>
</div>
