script src="https://cdn.jsdelivr.net/npm/chart.js"
canvas id="myChart" width="400" height="200"
javascript:
  var target_report6 = "#{@target_report6}";
  var target_report5 = "#{@target_report5}";
  var target_report4 = "#{@target_report4}";
  var target_report3 = "#{@target_report3}";
  var target_report2 = "#{@target_report2}";
  var target_report1 = "#{@target_report1}";
  var target_report = "#{@target_report}";

  var ctx = document.getElementById('myChart');
  
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['#{(Date.today-6).strftime("%m/%d")} (#{@days[(Date.today-6).wday]})', '#{(Date.today-5).strftime("%m/%d")} (#{@days[(Date.today-5).wday]})', '#{(Date.today-4).strftime("%m/%d")} (#{@days[(Date.today-4).wday]})', '#{(Date.today-3).strftime("%m/%d")} (#{@days[(Date.today-3).wday]})', '#{(Date.today-2).strftime("%m/%d")} (#{@days[(Date.today-2).wday]})', '#{(Date.today-1).strftime("%m/%d")} (#{@days[(Date.today-1).wday]})', '#{(Date.today).strftime("%m/%d")} (#{@days[(Date.today).wday]})'],
          datasets: [{
              label: '# of Votes',
              data: [target_report6, target_report5, target_report4, target_report3, target_report2, target_report1, target_report],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(153,255,51,0.4)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(255,153,0,0.4)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });



= link_to t('activerecord.attributes.item.create'), new_item_path(challenge_id: @challenge.id), class:"btn btn-info btn-sm button-margin" 

table class="table table-default table-striped"
  thead
    th = @challenge.title
    th = t('activerecord.attributes.item.complete_status')
    th = t('activerecord.attributes.item.percentage')
  tbody
    - @items.each do |i|
      tr
        td
          = i.name 
        td
          - if i.challenge.reports.last.created_at.end_of_day == Date.today.end_of_day && i.challenge.reports.last.completed_item.map(&:to_i).include?(i.id)
            button type="button" class="btn btn-primary disabled" 
              = "◯"
          - else 
            = link_to "❌", report_update_items_path(item_id: i.id, challenge_id: i.challenge.id), method: :post, data:{alert:"dfdsfdsfds"}, class:"btn btn-warning"
        td 
          = form_for(i, url: {controller: 'items', action: 'update' }) do |f|
            span style="display:inline-flex"
              = f.number_field :percentage, class:"form-control"
              = f.hidden_field :item_id, value: i.id
              = f.hidden_field :challenge_id, value: @challenge.id
              | &nbsp;
              = f.submit  t('activerecord.attributes.button.update_title'), class:"btn btn-info btn-sm"

= link_to t('activerecord.attributes.button.back'), challenges_path, class:"btn btn-secondary button-margin"

