@import "bootstrap-sprockets";
@import "bootstrap";
@import "dropzone/dropzone";
@import 'bootstrap-datepicker';
@import "font-awesome-sprockets";
@import "font-awesome";


.navbar-nav {
  margin-left: 10px;
}


/*######################################### fotter start ############################################### */

.footer {
  padding: 120px 0;
  text-align: center;
  background: #2b2d2e;
  height:250px;
}
.footer {
  display: block;
}

.footer span.copyright {
  line-height: 5px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  color: #fff
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #d9534f;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

li.text-white a{
color: #fff
}

ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

.footer_ad {
  color: white;
}

/*#########################################　footer end ############################################### */


.card-space {
  margin: 20px;
}

.orange-letter {
  color: rgb(201, 72, 12);
}



/*######################################### button start ############################################### */
.btn-acuamarine {
  color: #fff;
  font-weight: bolder;
  background-color: #5F9EA0;
  border-color: #ccc;

}
.btn-acuamarine:focus {
    color: #fff;
    background-color: #00CED1;
    border-color: #8c8c8c;
}
.btn-acuamarine:hover {
    color: #fff;
    background-color: #00CED1;
    border-color: #adadad;
}
.btn-acuamarine:active {
    color: #fff;
    background-color: #00CED1;
    border-color: #adadad;
}


.btn-tomato {
  color: #fff;
  font-weight: bolder;
  background-color: #FF6347;
  border-color: #ccc;

}
.btn-tomato:focus {
    color: #fff;
    background-color: #FA8072;
    border-color: #8c8c8c;
}
.btn-tomato:hover {
    color: #fff;
    background-color:#FA8072;
    border-color: #adadad;
}
.btn-tomato:active {
    color: #fff;
    background-color: #FA8072;
    border-color: #adadad;
}

.btn-dark-green {
  color: #fff;
  font-weight: bolder;
  background-color: #649934;
  border-color: #ccc;

}
.btn-dark-green:focus {
    color: #fff;
    background-color: #88cf47;
    border-color: #8c8c8c;
}
.btn-dark-green:hover {
    color: #fff;
    background-color:#88cf47;
    border-color: #adadad;
}
.btn-dark-green:active {
    color: #fff;
    background-color: #88cf47;
    border-color: #adadad;
}

.btn-sienna {
  color: #fff;
  font-weight: bolder;
  background-color: #A0522D;
  border-color: #ccc;

}
.btn-sienna:focus {
    color: #fff;
    background-color: #CD853F;
    border-color: #8c8c8c;
}
.btn-sienna:hover {
    color: #fff;
    background-color:#CD853F;
    border-color: #adadad;
}
.btn-sienna:active {
    color: #fff;
    background-color: #CD853F;
    border-color: #adadad;
}




.button-right {
  float: right;
}

.button-margin {
  margin: 5px 5px 5px 5px;
}

.true-status-button {
  background-color: #e36185;
  color: white;
  border-radius: 5px;
}

.false-status-button {
  background-color: #ccc;
  color: gray;
  border-radius: 5px;
}
/*######################################### button end ############################################### */

.pink {
  color: rgb(241, 72, 101);
}

.display_point {
  width: 100%;
  height: 100px;
  text-align: right;
  color: 	#228B22;
  font-weight: bolder;
  font-style: italic;
  font-size: 20px;
  padding: 0.5em 1em;
  font-weight: bold;
  border: solid 3px #6091d3;
  border-radius: 10px;
  margin: 0 5px 18px auto;
}

.display_point span {
  color: 	#CD5C5C;
  font-weight: bolder;
  font-style: italic;
  font-size: 30px;
}

@media screen and (min-width: 992px) { /*ウィンドウ幅が992px以上の場合に適用*/
  .display_point{
    width: 30%;
  }
}

@media screen and (max-width: 991px) { /*ウィンドウ幅が991px以下　の場合に適用*/
  .display_point{
    width: 90%;
    margin: 10px 10px 0 10px;
  }
}

#all-event-table > thead > tr > th:nth-of-type(2) {
  width: 30%;
}

#all-event-table > thead > tr > th {
  width: 7%;
}

#hosting-event-table > thead > tr > th {
  width: 7%;
}

#hosting-event-table > thead > tr > th:nth-of-type(2) {
  width: 15%;
}


#event-table > thead > tr > th:nth-of-type(4) {
  width: 30%;
}

#small-display-event-table > tbody > tr > th {
  width: 30%;
  background-color: #f0ecec;
}

.background-gray {
  background-color: #8f8888;
}

.note_duplicate {
  margin: 20px;
}

input#note_title {
  height: 50px;
  width: 200px;
}


textarea {
  width:100%;
  height: 150px;
}
