@import "bootstrap-sprockets";
@import "bootstrap";
@import "dropzone/dropzone";
@import 'bootstrap-datepicker';
@import "font-awesome-sprockets";
@import "font-awesome";


.navbar-nav {
  margin-left: 10px;
}


/*######################################### fotter start ############################################### */

.footer {
  padding: 120px 0;
  text-align: center;
  background: #2b2d2e;
  height:250px;
}
.footer {
  display: block;
}

.footer span.copyright {
  line-height: 5px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  color: #fff
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #d9534f;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

li.text-white a{
color: #fff
}

ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

.footer_ad {
  color: white;
}

/*#########################################　footer end ############################################### */


.card-space {
  margin: 20px;
}



/*######################################### button start ############################################### */
.btn-acuamarine {
  color: #fff;
  font-weight: bolder;
  background-color: #5F9EA0;
  border-color: #ccc;

}
.btn-acuamarine:focus {
    color: #fff;
    background-color: #00CED1;
    border-color: #8c8c8c;
}
.btn-acuamarine:hover {
    color: #fff;
    background-color: #00CED1;
    border-color: #adadad;
}
.btn-acuamarine:active {
    color: #fff;
    background-color: #00CED1;
    border-color: #adadad;
}


.btn-tomato {
  color: #fff;
  font-weight: bolder;
  background-color: #FF6347;
  border-color: #ccc;

}
.btn-tomato:focus {
    color: #fff;
    background-color: #FA8072;
    border-color: #8c8c8c;
}
.btn-tomato:hover {
    color: #fff;
    background-color:#FA8072;
    border-color: #adadad;
}
.btn-tomato:active {
    color: #fff;
    background-color: #FA8072;
    border-color: #adadad;
}



.btn-dark-green {
  color: #fff;
  font-weight: bolder;
  background-color: #649934;
  border-color: #ccc;

}
.btn-dark-green:focus {
    color: #fff;
    background-color: #88cf47;
    border-color: #8c8c8c;
}
.btn-dark-green:hover {
    color: #fff;
    background-color:#88cf47;
    border-color: #adadad;
}
.btn-dark-green:active {
    color: #fff;
    background-color: #88cf47;
    border-color: #adadad;
}

.button-right {
  float: right;
}
/*######################################### button end ############################################### */

.pink {
  color: rgb(241, 72, 101);
}